<nz-tabset #tabView [nzSelectedIndex]="activeIndex" [nzSize]="size">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" [nzDisabled]="tab.disabled" (nzSelect)="handleChange(tab)">
    <ng-template #titleTemplate > 
      <div><i nz-icon [nzType]="tab.icon"></i>{{ tab.header }}
        <i *ngIf="tab.closable" nz-icon nzType="close" class="ant-tabs-close-x" (click)="handleClose(tab)"></i>
      </div>
    </ng-template>
    <nz-spin [nzSpinning]="loading">
      <ng-template nz-tab>
        <app-tab-container [tabConfig]="tab"></app-tab-container>
      </ng-template>      
    </nz-spin>
  </nz-tab>
</nz-tabset>