<!-- <p-table #dt [columns]="cols" [value]="vals" [lazy]="tableConfig.lazy" [paginator]="tableConfig.paginator" [rows]="rows"  [totalRecords]="totalRecords" [loading]="loading" [(selection)]="selections" (onLazyLoad)="loadDataLazy($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td style="width: 3em">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <ng-container [ngSwitch]="col.type">
                  <p-calendar *ngSwitchCase="'date'" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}">
                  </p-calendar>
                  <p-dropdown *ngSwitchCase="'dropdown'" [options]="powers" [(ngModel)]="rowData[col.field]"
                    [style]="{'width':'100%'}">
                  </p-dropdown>
                  <input *ngSwitchDefault pInputText type="text" [(ngModel)]="rowData[col.field]">
                </ng-container>    
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData[col.field]}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-dropdown [options]="rowOptions" [(ngModel)]='rows' [style]="{'width':'5rem'}"></p-dropdown>
      </ng-template>
</p-table> -->