<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4" routerLink="/hero/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>
<app-hero-search></app-hero-search>
<div>图片压缩</div>
<input type="file" accept="image/*" (change)="handleImageUpload($event)">
<div>金额转大写
  <input type="number" [(ngModel)]="money" />
  <p>{{money | cny}}</p>
</div>
<app-reactive-form #f [cols]="main" [(value)]="data" (submit)="onSubmit($event)">
  <app-reactive-table [group]="f.form" tableArrayName="Tcl" [cols]="tcl" [(values)]="data['Tcl']">
  </app-reactive-table>
  <nz-form-control>
    <button nz-button nzType="primary">提交</button>
  </nz-form-control>
</app-reactive-form>
<div>
  <app-template-form [columns]="main" [(model)]="data">

    <app-template-table [columns]="tcl" [(values)]="data['Tcl']">
    </app-template-table>
    <app-template-table [columns]="tcl" [(values)]="data['Tcl2']">
    </app-template-table>
    <nz-form-control>
      <button nz-button nzType="primary">提交</button>
    </nz-form-control>
  </app-template-form>
</div>