<nz-table #nzTable [formGroup]="group" [nzData]="controls" [nzBordered]="bordered" [nzSimple]="simple"
    [nzLoading]="loading" [nzPaginationPosition]="position" [nzShowSizeChanger]="sizeChanger"
    [nzFrontPagination]="pagination" [nzShowPagination]="pagination" [nzFooter]="footer" [nzTitle]="templateTableTitle"
    [nzShowQuickJumper]="'true'" [nzSize]="size" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzTotal]="controls.length">
    <thead>
        <tr>
            <ng-container *ngFor="let col of showCols" [ngSwitch]="col.controlType">
                <th nzWidth="50px" nzShowExpand *ngSwitchCase="'expand'"></th>
                <th nzWidth="62px" nzShowCheckbox *ngSwitchCase="'rowcheck'" [(nzChecked)]="allChecked"
                    [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th *ngSwitchDefault nzCustomFilter>{{col.displayName}}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody [formArrayName]="tableArrayName">
        <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
            <tr [formGroupName]="nzTable.nzPageSize*(nzTable.nzPageIndex-1)+i">
                <ng-container *ngFor="let col of showCols" [ngSwitch]="col.controlType">
                    <td *ngSwitchCase="'expand'" nzShowExpand [(nzExpand)]="!!data['_expand']"></td>
                    <td *ngSwitchCase="'rowcheck'" nzShowCheckbox [nzDisabled]="data.disabled"
                        [(nzChecked)]="!!data['_checked']" (nzCheckedChange)="refreshStatus()"></td>
                    <td *ngSwitchDefault>
                        <app-reactive-control [group]="data" [column]="col"></app-reactive-control>
                        <!-- <ng-container *ngIf="editId !== getEditId(data,col); else editTpl">
                            <div (click)="startEdit(data,col, $event)">
                                {{ data.value[col.propertyName] }}
                            </div>
                        </ng-container>
                        <ng-template #editTpl>
                            <app-reactive-control [formGroup]="data" [col]="col"></app-reactive-control>
                        </ng-template> -->
                    </td>
                </ng-container>
            </tr>
            <tr [nzExpand]="!!data['_expand']">
                <td></td>
                <td [attr.colspan]="cols.length-1">{{ expandContent(i)}}</td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>

<ng-template #templateTableTitle>
    <div>{{title}}</div>
    <div style="margin-top:5px; background-color: #fafafa;">
        <button [nzSize]="size" nz-button nzType="default" type="button" (click)="add()">添加</button>
        <button [nzSize]="size" nz-button nzType="default" type="button" (click)="remove()"
            [disabled]="!hasCheckedData">删除</button>
    </div>
</ng-template>